<div class='about__hero__container'>
  <div class='about__gradient'></div>
  <img class='about__hero' src='/images/about.jpg' alt='' />
</div>
<div class='about__container'>
  <p class='about__header'>About Us</p>
  <p class='about__description'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
    vestibulum commodo dolor, a hendrerit mi facilisis sed. Maecenas laoreet erat vitae venenatis
    pellentesque. In sed nunc eu orci laoreet volutpat vehicula at nulla. Orci varius natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas molestie magna sit
    amet vulputate rutrum. Mauris dictum elit a mollis pellentesque. Aliquam pulvinar tempor sem
    eget eleifend. Mauris enim enim, dictum in tincidunt sit amet, imperdiet ac odio.</p>
  <p class='about__description'>
    Ut in eleifend diam. Donec hendrerit eros arcu, quis finibus ex lacinia vitae. Duis nec enim
    odio. Quisque eget commodo tellus. Aliquam vehicula risus non pulvinar tincidunt. Vivamus
    scelerisque ante mauris, at tristique dolor condimentum sit amet. Morbi placerat sapien eu
    egestas ultrices. Donec a elit ipsum. Sed venenatis laoreet tincidunt. Nulla facilisi.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed
    euismod elit sed massa varius feugiat. Donec consectetur dapibus augue ac pretium. Donec aliquam
    semper metus, eu semper tortor sollicitudin sit amet. Cras vitae lacus ullamcorper, finibus leo
    vitae, sodales est.</p>
  <p class='about__description'>
    Aenean turpis dui, pharetra at dolor eu, sodales bibendum risus. Nullam iaculis orci neque, in
    condimentum turpis lobortis vel. Curabitur ut urna tellus. Duis purus ipsum, vestibulum id sem
    at, viverra dictum neque. Nullam at urna vel lacus commodo pharetra. Integer odio sapien,
    suscipit nec efficitur eget, vehicula quis erat. Donec facilisis leo ut fermentum pellentesque.
    Maecenas volutpat auctor sapien eu ullamcorper. Aenean finibus nisl non fringilla tincidunt.</p>
  <p class='about__description'>
    In hac habitasse platea dictumst. Curabitur non leo eget neque suscipit dapibus at eu neque.
    Fusce vel dui lacinia ligula posuere viverra. Pellentesque non tincidunt enim. In sit amet
    gravida justo, in rhoncus eros. Suspendisse vestibulum nisi risus, sed pharetra odio sodales sit
    amet. Cras consequat leo vitae feugiat mollis. Nulla metus magna, rutrum scelerisque tincidunt
    faucibus, malesuada at velit. Donec facilisis tempor feugiat. Quisque et fermentum augue, ac
    dapibus nunc. Curabitur bibendum luctus nibh, nec vulputate eros porttitor nec. Class aptent
    taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam luctus
    ipsum id odio ultrices, quis interdum nunc auctor. Etiam sed fermentum nunc.</p>
  <p class='about__description'>
    Quisque varius rutrum felis, nec aliquam sapien eleifend a. Morbi egestas posuere consequat. Sed
    suscipit odio non lectus luctus bibendum. Vestibulum pellentesque lorem vel fermentum elementum.
    Mauris imperdiet condimentum magna, non mattis ligula tempor eget. In ultricies dictum neque nec
    tempus. Duis rutrum suscipit feugiat.</p>
</div>