<div class='market__title__container'>
  <p class='market__creator__title'>{{category.name}}</p>
  <div class='market__feed'>
    {{#each category_nfts}}
      <a href={{this.url}}>
        <img class='market__feed__img' src={{this.src}} alt='' />
      </a>
    {{/each}}
  </div>
</div>