<div class='hero__container'>
  <div class='hero__gradient'></div>
  <video muted autoPlay loop class='hero__video'>
    <source src='/images/hero.mp4' type='video/mp4' />
  </video>
</div>
<div class='content__container'>
  <div class='button__container'>
    <a href='/create'><button class='home__btn--outline'><span
          class='home__btn__span--outline'
        >Create</span></button></a>
    <a href='/marketplace'><button class='home__btn'><span
          class='home__btn__span'
        >Marketplace</span></button></a>
  </div>
</div>