<div class='nft__form__container'>
  <form class='nft__form' action='' method='POST'>
    <div class='nft__form__group'>
      <p class='nft__form__label'>Title:</p>
      <input
        required='true'
        autocomplete='off'
        type='text'
        name='title'
        class='nft__form__control'
        value=''
      />
    </div>
    <div class='nft__form__group'>
      <p class='nft__form__label'>Creator:</p>
      <input
        required='true'
        autocomplete='off'
        type='text'
        name='creator'
        class='nft__form__control'
        value=''
      />
    </div>
    <div class='nft__form__group'>
      <p class='nft__form__label'>Category:</p>
      <input
        required='true'
        autocomplete='off'
        type='text'
        name='category'
        class='nft__form__control'
        value=''
      />
    </div>
    <div class='nft__form__group'>
      <p class='nft__form__label'>Price:</p>
      <input
        required='true'
        autocomplete='off'
        type='text'
        name='price'
        class='nft__form__control'
        value=''
      />
    </div>
    <div class='nft__form__group'>
      <p class='nft__form__label'>Src:</p>
      <input
        required='true'
        autocomplete='off'
        type='text'
        name='src'
        class='nft__form__control'
        value=''
      />
    </div>
    <input type='submit' value='Create' class='nft__form__btn' />
  </form>
</div>